<div class="wrap">
  <div class="footer-grid">
    <h3>@("Location".Label())</h3>
    <div class="address">
      @Html.FrontHtml().RenderHtmlBlock("Location")
    </div>
  </div>
  <div class="footer-grid">
    <h3>@("About".Label())</h3>
    <p>@("Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam".Label())</p>
  </div>
    <div class="footer-grid-right">
        <table class="table-trip" align="right">
            <tr style="text-align:right">
                <td style="text-align:right">
                    <div id="TA_certificateOfExcellence464" class="TA_certificateOfExcellence">
                        <ul id="ZYNA7oBM" class="TA_links ODzaWXmO">
                            <li id="dGUuWQxISozt" class="Klwcj2l58MGv">
                                <a target="_blank" href="http://www.tripadvisor.co.uk/">
                                    <img src="http://www.tripadvisor.co.uk/img/cdsi/img2/awards/CoE2014_WidgetAsset-14348-2.png"
                                         alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="clear"> </div>
</div>

<script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=464&amp;locationId=2226294&amp;lang=en_UK&amp;year=2014&amp;display_version=2"></script>
