 	      	  <div class="slider-wrapper theme-default">
	            <div id="slider" class="nivoSlider">
    @foreach (var item in ViewBag.Home_Sliders){
    <img src="@item.Img" data-thumb="@item.Img" alt="" />
    }
	            </div>
	        </div>